.margin {
  width: 1600px;
  margin: 0 auto;
}
button {
  border: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.padding {
  padding-left: 230px;
  padding-right: 230px;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.header {
  width: 1600px;
  margin: 0 auto;
  height: 75px;
  background-color: #222222;
}
.header__container {
  display: flex;
  min-height: 75px;
  align-items: center;
  justify-content: space-between;
}
.header__logo-container {
  display: flex;
  justify-content: space-between;
}
.header__menu-list ul {
  display: flex;
}
.header__menu-list ul li {
  padding-left: 34px;
}
.header__button {
  background-color: transparent;
  border: none;
}
.main__head {
  width: 1600px;
  margin: 0 auto;
  display: flex;
  background: #F1E4E6;
}
.main__head:hover {
  -webkit-filter: brightness(50%);
  filter: brightness(0.5);
}
.fetured-item__img:hover {
  /*-webkit-filter: brightness(50%);*/
  filter: brightness(0.4);
}
.main__content {
  width: 100%;
  padding: 335px 0 0 64px;
}
.main__header {
  position: relative;
  padding: 0 0 0 28px;
}
.main__header ::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 100%;
  background-color: #F16D7F;
  left: -12px;
}
.main__sale {
  width: 1600px;
  margin: 0 auto;
  height: 631px;
}
.main__sale .sale__list {
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main__sale .sale__list .sale__list-item:not(:last-child) {
  width: 360px;
  height: 260px;
}
.main__sale .sale__list .sale__list-item {
  display: flex;
  justify-content: center;
}
.main__sale .sale__list .sale__list-item a {
  display: flex;
  padding: 103px;
}
.main__sale .sale__list .sale__list-item span {
  color: #F16D7F;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28,8px;
}
.main__sale .sale__list .sale__list-item h2 {
  color: #FFFFFF;
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
.main__sale .sale__list .sale__list-item4 {
  width: 100%;
  height: 180px;
  margin-top: 30px;
  background-image: url(../img/LUXIROUS.jpg);
}
.main__sale .sale__list .sale__list-item4 a {
  padding-top: 68px;
}
.main__sale .sale__list .sale__list-item1 {
  background-image: url(../img/stock-women.jpg);
}
.main__sale .sale__list .sale__list-item2 {
  background-image: url(../img/stock-men.jpg);
}
.main__sale .sale__list .sale__list-item3 {
  background-image: url(../img/stock-kids.jpg);
}
.fetured {
  width: 1600px;
  margin: 0 auto;
  height: 204px;
  text-align: center;
}
.fetured h2 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  padding-top: 67px;
}
.fetured span {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}
.fetured__items {
  width: 1140px;
  margin: 0 auto;
  height: 1431px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.fetured__item {
  height: 581px;
  width: 360px;
  background-color: #F8F8F8;
}
.fetured__item a {
  background-color: #F1E4E6;
}
.fetured__item .fetured-item__title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding: 12px;
}
.fetured__item .fetured-item__text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding: 12px;
}
.fetured__item .fetured-item__price {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding: 12px;
}
.browse {
  width: 1600px;
  margin: 0 auto;
  height: 101px;
  display: flex;
  justify-content: center;
}
.browse .browse__button {
  height: 47px;
  width: 211px;
  background-color: white;
  border: 1px solid #FF6A6A;
  color: #FF6A6A;
}
.browse__button:hover {
  background-color: #F16D7F;
  color: white;
}
.button__text:hover {
  color: white;
}
.feature {
  width: 1140px;
  margin: 0 auto;
  height: 341px;
  background-color: #222224;
  display: flex;
  justify-content: space-between;
}
.feature .feature__box {
  display: flex;
  align-items: center;
  width: 33%;
}
.feature .feture-box__item-1 {
  padding-left: 44%;
}
.feature .feture-box__item-2 {
  text-align: center;
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  padding-top: 20px;
}
.feature .feture-box__item-3 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}
.subscribe {
  width: 1140px;
  margin: 0 auto;
  height: 448px;
  background-image: url(../img/footer-fon.jpg);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.subscribe .subscribe__box {
  width: 533.33333333px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.subscribe .subscribe__box p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}
.subscribe .subscribe__form-group {
  width: 533.33333333px;
}
.subscribe .subscribe__form-group .form-group__title {
  font-size: 18px;
  text-align: center;
  padding-left: 100px ;
}
.subscribe .subscribe__form-group .form-group-title__item-2 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}
.subscribe .subscribe__form-group .form-inline {
  display: flex;
  flex-direction: row;
  padding-left: 95px;
}
.subscribe .subscribe__form-group .btn {
  border-radius: 0px 40px 40px 0px;
  height: 55px;
  width: 100px;
  border: 0;
  color: white;
  background-color: #F16D7F;
}
.subscribe .subscribe__form-group .form-control {
  border-radius: 40px 0px 0px 40px;
  height: 49px;
  width: 250px;
  border: 0;
}
.footer__copyright {
  width: 1600px;
  margin: 0 auto;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #222222;
}
.footer__copyright .copyright .copyright__text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.footer__copyright-list ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* страница ккаталога*/
.catalog__items {
  height: 2056px;
}
.catalog__head {
  width: 1600px;
  margin: 0 auto;
  height: 148px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #F8F3F4;
}
.catalog-head__nav {
  display: flex;
}
.catalog__title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}
.catalog-head__nav {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.nav-list__active {
  color: #F16D7F;
  font-weight: bold;
}
.filter {
  width: 1600px;
  margin: 0 auto;
  height: 120px;
  display: flex;
  justify-content: space-around;
}
.filter__search {
  width: 150px;
}
.filter__list {
  position: relative;
}
.filter__title::before {
  position: absolute;
  content: '';
  width: 5px;
  height: 30px;
  background-color: #F16D7F;
  left: -11px;
}
.conditions__list {
  display: flex;
  justify-content: space-between;
}
.filter__container,
.filter__conditions {
  padding-top: 50px;
}
.conditions__form {
  padding-left: 28px;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.filter__head {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.filter__title {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #EF5B70;
  padding: 15px 0 15px 0 ;
}
.filter__item {
  font-family: 'Lato';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.catalog__pagination {
  width: 1600px;
  margin: 0 auto;
  height: 96px;
  display: flex;
}
.pagination__list {
  display: flex;
  margin: auto;
}
.pagination__item {
  padding-left: 15px;
}
.pagination__link {
  font-family: 'Lato';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: grey;
}
.pagination__link-active {
  color: #EF5B70;
}
.form__check {
  display: flex;
}
/* страница регистрации */
.registration__head {
  width: 1600px;
  margin: 0 auto;
  height: 148px;
  display: flex;
  align-items: center;
  background-color: #F8F3F4;
}
.registration__title {
  padding-left: 230px;
}
.registration {
  width: 1600px;
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 112px;
  display: flex;
}
.registration__form {
  width: 25%;
  padding-left: 230px;
  padding-right: 120px;
}
.registration__form-group .registration__label,
.registration__form-group-2 .registration__label {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.registration__form-group .form-control,
.registration__form-group-2 .form-control {
  width: 360px;
  height: 50px;
  margin: 20px 0 20px 0;
}
.registration__form-group-2 .btn {
  width: 167px;
  height: 50px;
  color: white;
  background-color: #F16D7F;
}
.registration__form-group-2 .form-group-2__reminder {
  font-family: 'Lato';
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0em;
  padding-bottom: 63px;
}
.registration__loyalty {
  width: 46%;
  font-family: 'Lato';
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.loyalty__list {
  padding-left: 40px;
  list-style-image: url(../img/vector-list.svg);
}
.loyalty__text {
  padding-top: 22px;
}
.loyalty__item {
  padding-top: 16px;
}
.form-check__label {
  font-family: 'Lato';
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
}
.carousel {
  width: 1600px;
  margin: 0 auto;
  height: 777px;
  background-color: #F7F7F7;
}
.carousel .carousel-item {
  display: flex;
  justify-content: center;
}
.collection {
  width: 1600px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: -112px;
}
.collection .collection__header {
  display: flex;
  justify-content: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #F16D7F;
  padding-top: 65px;
  position: relative;
}
.collection .collection__title {
  display: flex;
  justify-content: center;
  font-family: 'Lato';
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 28px;
  padding-bottom: 49px;
}
.collection .collection__text {
  display: flex;
  justify-content: center;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding: 12px;
}
.collection .collection__price {
  display: flex;
  justify-content: center;
  font-family: 'Lato';
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #F16D7F;
  padding: 12px;
}
.cart__adding {
  width: 1600px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
}
.cart__adding .cart__dropdown {
  display: flex;
}
.cart__adding .cart__dropdown .dropdown {
  margin: 27px;
}
.cart__adding .cart__dropdown .dropdown .dropdown-toggle {
  border: none;
}
.cart__button {
  width: 1600px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 194px;
}
@media (max-width: 1599px) {
  .header {
    width: 100%;
  }
  .main__sale .sale__list {
    padding: 0;
  }
  .main__head .main__img {
    width: 50%;
    height: auto;
  }
  .header .header__container {
    width: 91.5%;
  }
  .main__head {
    width: 100%;
  }
  .main__head .main__header-span {
    font-size: 24px;
    line-height: 29px;
  }
  .main__head .main__header {
    font-size: 44px;
    line-height: 52px;
  }
  .fetured {
    width: 100%;
  }
  .fetured__items {
    width: 100%;
    height: 100%;
  }
  .browse {
    width: 100%;
  }
  .feature {
    width: 100%;
    padding: 0;
  }
  .subscribe {
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__copyright {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1599px) {
  .main__sale {
    width: 100%;
    padding: 19px 0 155px;
    flex-wrap: wrap;
  }
  .main__content {
    padding: 148px 0 0 64px;
  }
}
@media (min-width: 767px) and (max-width: 1599px) {
  .main__sale .sale__list .sale__list-item:not(:last-child) {
    width: 33%;
    margin: 0 0 19px;
  }
}
@media (max-width: 768px) {
  .main__content {
    padding: 148px 0 148px 64px;
  }
  .main__sale {
    width: 100%;
    height: 100%;
    padding: 19px 0 155px;
    flex-wrap: wrap;
  }
  .feature {
    height: 100%;
    flex-wrap: wrap;
    padding-bottom: 68px;
  }
  .feature .feature__box {
    justify-content: center;
    width: 100%;
    margin-top: 48px;
  }
  .subscribe .subscribe__box {
    width: 100%;
  }
  .subscribe .subscribe__form-group .form-group__title,
  .subscribe .subscribe__form-group .form-inline {
    padding: 10px;
  }
  .footer__copyright {
    flex-wrap: wrap-reverse;
  }
  .footer__copyright .copyright {
    width: 100%;
  }
  .footer__copyright .footer__copyright-list {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer__copyright .copyright__text {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .main__img {
    display: none;
  }
}
